@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    @*Breadcrumbs*@
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="m-0">@ViewBag.Title</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right px-3 py-2">
                        <li class="breadcrumb-item"><a asp-controller="Administrator" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    @*Content*@
    <section class="content">
        <div class="container-fluid">
            @*Search*@
            <div class="row d-flex justify-content-between">
                <input id="inptSearch" class="form-control w-50" placeholder="Search" />
            </div>

            @*Grid View*@
            <div id="dvGrid" class="row mt-3">
                <div class="d-flex justify-content-lg-around">
                    <div class="col-xl-12 col-lg-12">
                        <div class="cart-inner" id="dtProductList">
                            <div class="border-top border-bottom py-2">
                                <div class="row text-uppercase">
                                    <div class="col-4"> <strong class="small">Report Name</strong></div>
                                    <div class="col-5"> <strong class="small">Description</strong></div>
                                    <div class="col-3 text-center"><strong class="small">Action</strong></div>
                                </div>
                            </div>
                            <div class="row-item pt-4 pb-4 border-bottom">
                                <div class="row text-left">
                                    <div class="item col-4">Monthly Sales Report</div>
                                    <div class="item col-5">Shows detailed report on monthly sales</div>
                                    <div class="item col-3 text-center">
                                        <a class="btn btn-link text-danger text-hover-gray-3 p-0" asp-action="GetMonthlySalesReport" data-toggle="tooltip" data-placement="bottom" title="Export as Excel">
                                            <i class="fas fa-download"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row-item pt-4 pb-4 border-bottom">
                                <div class="row text-left">
                                    <div class="item col-4">Annual Sales Report</div>
                                    <div class="item col-5">Shows detailed report on annual sales</div>
                                    <div class="item col-3 text-center">
                                        <a class="btn btn-link text-danger text-hover-gray-3 p-0" asp-action="GetAnnualSalesReport" data-toggle="tooltip" data-placement="bottom" title="Export as Excel">
                                            <i class="fas fa-download"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="position: fixed; bottom: 10px; right: 10px">
                <button onclick="topFunction()" id="btnTop" value="Back to Top" class="btn btn-outline-danger">
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </section>
</div>

<script>
    var btnTop = document.getElementById("btnTop");
    window.onload = function () { btnTop.style.display = "none"; }
    window.onscroll = function () { scrollFunction(); };

    $(document).ready(function () {
        $("#inptSearch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#dtProductList .row-item").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
            $("#dvThumbnail .item").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            btnTop.style.display = "block";
        } else {
            btnTop.style.display = "none";
        }
    }

    function topFunction() {
        $('html, body').animate({ scrollTop: 0 }, 'slow');
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $("#btnGrid").click(function () {
            $("#dvThumbnail").hide();
            $("#dvGrid").show();
        });

        $("#btnThumbnail").click(function () {
            $("#dvGrid").hide();
            $("#dvThumbnail").show();
        });
    });
</script>