@{
    ViewData["Title"] = "Home";
}

<style type="text/css">
    #myBtn {
        display: none;
        position: fixed;
        bottom: 0px;
        right: 10px;
        z-index: 99;
        font-size: 16px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

        #myBtn:hover {
            background-color: #555;
        }
</style>

<div class="container-fluid main-container">
    <div class="row">
        <div class="content col-md-10 mx-auto">

            @*Promotions*@
            <div class="row">
                <a asp-area="" asp-controller="StoreFront" asp-action="Trending"><img src="~/images/banners/banner-4.jpg" height="560" /></a>
            </div>

            @*Categories*@
            <div class="row">
                <div class="card" style="width: 25rem; margin-top: 15px; margin-left: 40px">
                    <a asp-area="" asp-controller="StoreFront" asp-action="ShopAll">
                        <img class="card-img-top" src="~/images/categories/category_clothing.jpeg" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Shop All</h5>
                        <p class="card-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>
                <div style="width: 20rem; margin: 15px">
                    <a asp-area="" asp-controller="StoreFront" asp-action="/Pages/Mens">
                        <img class="card-img-top" src="~/images/categories/category_apparel_accessories.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Men's Apparel</h5>
                        <p class="card-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>
                <div style="width: 20rem; margin: 15px">
                    <a asp-area="" asp-controller="StoreFront" asp-action="Womens">
                        <img class="card-img-top" src="~/images/categories/category_apparel.jpeg" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Women's Apparel</h5>
                        <p class="card-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>
            </div>
            <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-chevron-up"></i></button>
        </div>
    </div>
    <div style="position: fixed; bottom: 10px; right: 10px">
        <button onclick="topFunction()" id="btnTop" value="Back to Top" class="btn btn-info">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </button>
    </div>
</div>

<script>
    var btnTop = document.getElementById("btnTop");
    window.onload = function () { btnTop.style.display = "none"; }
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            btnTop.style.display = "block";
        } else {
            btnTop.style.display = "none";
        }
    }

    function topFunction() {
        $('html, body').animate({ scrollTop: 0 }, 'slow');
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>