<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Beautiful Time Fashion Boutique</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/bar.css" />
        <link rel="stylesheet" href="~/css/grid.css" />

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    @*JavaScript files*@
    <script src="https://code.jquery.com/jquer<!--y-3.5.1.min.js"></script>
    <script src="https://d19m59y37dris4.cloudfront.net/hub/2-0/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://d19m59y37dris4.cloudfront.net/hub/2-0/vendor/swiper/swiper-bundle.js"></script>
    <script src="https://d19m59y37dris4.cloudfront.net/hub/2-0/vendor/nouislider/nouislider.min.js"></script>
    <script src="https://d19m59y37dris4.cloudfront.net/hub/2-0/vendor/choices.js/public/assets/scripts/choices.js"></script>
    <script src="https://d19m59y37dris4.cloudfront.net/hub/2-0/vendor/glightbox/js/glightbox.js"></script>
    <script src="https://d19m59y37dris4.cloudfront.net/hub/2-0/vendor/masonry-layout/masonry.pkgd.min.js"></script>
    <script src="https://d19m59y37dris4.cloudfront.net/hub/2-0/vendor/universal-parallax/universal-parallax.min.js"></script>
    <script>new universalParallax().init({ speed: 3.0 });</script>
    <script src="https://d19m59y37dris4.cloudfront.net/hub/2-0/js/theme.f03cfc8d.js"></script>
    <script src="https://d19m59y37dris4.cloudfront.net/hub/2-0/js/js-cookie.55cdbe0d.js"></script>
    <script src="https://d19m59y37dris4.cloudfront.net/hub/2-0/js/demo.9f3f24e8.js"></script>-->

    @*Stylesheets*@
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">-->
    <!-- Price Slider Stylesheets -->
    <!--<link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/hub/2-0/vendor/nouislider/nouislider.css">-->
    <!-- Swiper Slider Stylesheets -->
    <!--<link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/hub/2-0/vendor/swiper/swiper-bundle.css">-->
    <!-- Choices.js-->
    <!--<link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/hub/2-0/vendor/choices.js/public/assets/styles/choices.css">-->
    <!-- Lightbox-->
    <!--<link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/hub/2-0/vendor/glightbox/css/glightbox.css">-->
    <!-- Nouislider-->
    <!--<link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/hub/2-0/vendor/nouislider/nouislider.min.css">-->
    <!-- Custom stylesheet - for your changes-->
    <!--<link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/hub/2-0/css/custom.0a822280.css">-->
    <!-- Favicon-->
    <!--<link rel="shortcut icon" href="https://d19m59y37dris4.cloudfront.net/hub/2-0/img/favicon.e2ef10ef.ico">-->
    <!-- Google fonts-->
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&amp;display=swap">-->
</head>

<body>
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="#">BEAUTIFUL TIME FASHION BOUTIQUE</a>
                    <div id="close-sidebar">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                             alt="User picture">
                    </div>
                    <div class="user-info">
                        <span class="user-name">
                            Jhon
                            <strong>Smith</strong>
                        </span>
                        <span class="user-role">Administrator</span>
                        <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <span>Online</span>
                        </span>
                    </div>
                </div>
                <!-- sidebar-search  -->
                <div class="sidebar-menu">
                    <ul>
                        <li>
                            <a asp-area="" asp-controller="Administrator" asp-action="Index">
                                <i class="fas fa-tachometer-alt"></i>
                                Dashboard
                            </a>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-user"></i>
                                <span>Account Management</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a asp-area="" asp-controller="Customers" asp-action="Index">Customers</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Employees" asp-action="Index">Employees</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Orders" asp-action="Index">
                                <i class="fa fa-inbox"></i>
                                <span>Order Management</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Products" asp-action="Index">
                                <i class="fa fa-cubes"></i>
                                Product Management
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Promotions" asp-action="Index">
                                <i class="fa fa-tag"></i>
                                Promos and Discounts
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">
                <a asp-controller="Administrator" asp-action="UnderConstruction">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-warning notification">3</span>
                </a>
                <a asp-controller="Administrator" asp-action="UnderConstruction">
                    <i class="fa fa-envelope"></i>
                    <span class="badge badge-pill badge-success notification">7</span>
                </a>
                <a asp-area="" asp-controller="Administrator" asp-action="UnderConstruction">
                    <i class="fa fa-cog"></i>
                    <span class="badge-sonar"></span>
                </a>
                <a asp-area="" asp-controller="StoreFront" asp-action="Index">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>
        </nav>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </main>
        <!-- page-content" -->
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(".sidebar-dropdown > a").click(function () {
            $(".sidebar-submenu").slideUp(200);
            if (
                $(this)
                    .parent()
                    .hasClass("active")
            ) {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .parent()
                    .removeClass("active");
            } else {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .next(".sidebar-submenu")
                    .slideDown(200);
                $(this)
                    .parent()
                    .addClass("active");
            }
        });

        $("#close-sidebar").click(function () {
            $(".page-wrapper").removeClass("toggled");
        });
        $("#show-sidebar").click(function () {
            $(".page-wrapper").addClass("toggled");
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
