@{
    ViewData["Title"] = "Return Request Submitted";
}
<section class="py-5">
    <div class="container py-5">
        <div class="icon-rounded icon-rounded-xl mb-4"><i class="fas fa-check"></i></div>
        <h2>Your request has been cancelled.</h2>

        <a class="btn btn-danger" asp-controller="Profile" asp-action="Returns">View Returns</a>
    </div>
</section>

<div style="position: fixed; bottom: 10px; right: 10px;">
    <button onclick="topFunction()" id="btnTop" value="Back to Top" class="btn btn-outline-danger">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </button>
</div>

<script>
    var btnTop = document.getElementById("btnTop");
    window.onload = function () { btnTop.style.display = "none"; }
</script>
