@{
    ViewData["Title"] = "Under Construction";
}

<div class="container-fluid text-center">
    <div class="col p-5">

        <h1>Under Construction</h1>
        <h5>Please come back later</h5>

        <img src="~/images/under-construction.gif" />
        <a class="btn btn-danger" asp-controller="Home" asp-action="Index">Back to Home</a>
    </div>
</div>
