@model About

@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row text">
    <div class="col-md-10 offset-md-1">
        <p>
            <h4>@ViewBag.Title</h4>
        </p>

        <div class="form-group">
            <form asp-action="CreateAboutUs" enctype="multipart/form-data" class="hidden">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="submit" value="Save" class="btn btn-success float-right" />

                @*About Us*@
                <div class="row form-group">
                    <div class="col col-md-12">
                        <label asp-for="History" class="control-label mt-2"></label>
                        <textarea asp-for="History" class="form-control" rows="10" style="border-radius: 1em"></textarea>

                        <label asp-for="Mission" class="control-label mt-2"></label>
                        <textarea asp-for="Mission" class="form-control" rows="10" style="border-radius: 1em"></textarea>

                        <label asp-for="Vision" class="control-label mt-2"></label>
                        <textarea asp-for="Vision" class="form-control" rows="10" style="border-radius: 1em"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div style="position: fixed; bottom: 10px; right: 10px">
        <button onclick="topFunction()" id="btnTop" value="Back to Top" class="btn btn-outline-danger">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </button>
    </div>
</div>
<script src="https://cdn.tiny.cloud/1/0hvbyznd49kqd5zwdmnpd1e36ghlvc54m0qjb4ed3zfn98b6/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script type="text/javascript">
    tinymce.init({ selector: 'textarea', width: 'auto'});
</script>
<script>
    var btnTop = document.getElementById("btnTop");
    window.onload = function () { btnTop.style.display = "none"; }
    window.onscroll = function () { scrollFunction(); };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            btnTop.style.display = "block";
        } else {
            btnTop.style.display = "none";
        }
    }

    function topFunction() {
        $('html, body').animate({ scrollTop: 0 }, 'slow');
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

</script>