@model ECommerce1.ViewModel.SettingsViewModel

@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row text">
    <div class="col-md-10 offset-md-1">
        <p>
            <h4>@ViewBag.Title</h4>
        </p>

        <div class="form-group">
            <form asp-action="UpdateSettings" enctype="multipart/form-data" class="hidden">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="submit" value="Save" class="btn btn-success float-right" />

                <div class="row form-group">
                    <div class="col col-md-12">
                        <label class="control-label">Store Logo</label>
                        <input asp-for="StoreLogo" class="form-control" />
                    </div>

                    <div class="col col-md-12 mt-3">
                        <label class="control-label">Hero Video</label>
                        <p class="text-danger">Please use any image hosting site</p>
                        <input asp-for="HeroVideo" class="form-control" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div style="position: fixed; bottom: 10px; right: 10px">
        <button onclick="topFunction()" id="btnTop" value="Back to Top" class="btn btn-outline-danger">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </button>
    </div>
</div>

<script>
    var btnTop = document.getElementById("btnTop");
    window.onload = function () { btnTop.style.display = "none"; }
    window.onscroll = function () { scrollFunction(); };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            btnTop.style.display = "block";
        } else {
            btnTop.style.display = "none";
        }
    }

    function topFunction() {
        $('html, body').animate({ scrollTop: 0 }, 'slow');
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

</script>