@model IEnumerable<Product>

@{
    ViewData["Title"] = "Product Management";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<div class="container-fluid main-container">
    <div class="row">
        <h2>Product Management</h2>
    </div>

    @*Search*@
    <div class="row">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" style="width:350px">
            <div class="col">
                <a asp-controller="Products" asp-action="CreateProduct" class="btn btn-info float-right" type="button">
                    <i class="fas fa-plus-circle"></i>&nbsp;&nbsp;Add Product
                </a>
                <button class="btn btn-info" type="button"><i class="fas fa-list"></i></button>
                <button class="btn btn-info" type="button"><i class="fas fa-th-large"></i></button>
            </div>
        </div>
    </div>

    <div class="row mt-3" style="margin-left: -30px" width="auto">

        @*Grid*@
        <div class="col-9">
            <div class="table-responsive-md">
                <table class="table table-striped">
                    <thead >
                        <tr>
                            <th>#</th>
                            <th>Image</th>
                            <th>Product Name</th>
                            <th>Date Created</th>
                            <th>Quantity</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                            <td>
                                <img src="@String.Format("data:image/jpg;base64,{0}", item.Image)" class="avatar" alt="Avatar">
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>04/10/2013</td>
                            <td>10</td>
                            <td><span class="status text-success">&bull;</span> In-stock</td>
                            <td>
                                <a href="#" class="edit" title="Update" data-toggle="tooltip"><i class="fas fa-pencil-alt">&#xE8B8;</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="fas fa-trash-alt">&#xE5C9;</i></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Previous</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>


        @*Statistics*@
        <div class="col-md-3">
            <div class="card card-stats">
                <div class="card-title m-auto">
                    <span class="h2 font-weight-bold">Statistics</span>
                </div>
                <div class="card-body">
                    <div class="row">
                        @*In-Stock*@
                        <div class="col-auto">
                            <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                <i class="fas fa-thumbs-up"></i>
                            </div>
                        </div>
                        <div class="col col-auto mb-3">
                            <h5 class="card-title text-uppercase text-muted mb-0">In-Stock</h5>
                            <span class="h2 font-weight-bold mb-0">0</span>
                        </div>
                    </div>
                    <div class="row">
                        @*Out-of-stock*@
                        <div class="col-auto">
                            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                <i class="fas fa-sync-alt"></i>
                            </div>
                        </div>
                        <div class="col col-auto mb-3">
                            <h5 class="card-title text-uppercase text-muted mb-0">Out-of-stock</h5>
                            <span class="h2 font-weight-bold mb-0">0</span>
                        </div>
                    </div>
                    <div class="row">
                        @*Warning*@
                        <div class="col-auto">
                            <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                        </div>
                        <div class="col col-auto mb-3">
                            <h5 class="card-title text-uppercase text-muted mb-0">Critical</h5>
                            <span class="h2 font-weight-bold mb-0">0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>