@model ECommerce1.ViewModel.CustomerViewModel

@{
    ViewData["Title"] = "Add New Customer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row text">
    <div class="col-md-10 offset-md-1">
        <p>
            <h4>Add Customer</h4>
        </p>

        <div class="form-group">
            <form asp-action="CreateCustomer" enctype="multipart/form-data" class="hidden">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                <input type="submit" value="Save" class="btn btn-success float-right" />

                <div id="accordion">
                    <div class="card mt-2">
                        <div class="card-header" id="headingOne">
                            <b>PRIMARY INFORMATION</b>
                            <a class="btn btn-link float-right" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="far fa-plus-square"></i>
                            </a>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">

                                @*Primary Info*@
                                <div class="row form-group">

                                    <div class="col col-md-8">
                                        <div>
                                            <label asp-for="FirstName" class="control-label"></label>
                                            <input asp-for="FirstName" class="form-control" />
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>

                                        <div>
                                            <label asp-for="LastName" class="control-label"></label>
                                            <input asp-for="LastName" class="form-control" />
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>

                                        <div>
                                            <label asp-for="Birthday" class="control-label"></label>
                                            <input asp-for="Birthday" class="form-control" id="date" placeholder="MM/DD/YYY" type="date" />
                                        </div>

                                        <div>
                                            <label asp-for="GenderId" class="control-label"></label>
                                            <div>
                                                @Html.DropDownListFor(x => Model.GenderId, new SelectList(Model.Genders, "Id", "AlternateTitle"), htmlAttributes: new { @class = "form-control", id = "GenderId" })
                                                @Html.ValidationMessageFor(x => x.GenderId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col col-md-4">
                                        <div class="row form-group">
                                            <div class="form-group">
                                                <input id="inptImageUpload" type="file" accept="image/*" name="image" />
                                                <input id="inptImageFileName" type="text" style="display:none;" />
                                            </div>
                                            <div class="form-group">
                                                <img id="imgOutput" src="@string.Format("data:image/jpeg;base64,{0}", Model.Image)" width="200" />
                                                <div style="display: none;">
                                                    <input id="Image" asp-for="Image" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <b>CONTACT INFORMATION</b>
                            <a class="btn btn-link float-right" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                <i class="far fa-plus-square"></i>
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">

                                @*Contact Information*@
                                <div class="row">
                                    <div class="row col-md-12">
                                        <div class="col col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Email" class="control-label"></label>
                                                <input asp-for="Email" class="form-control" />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row col-md-12">
                                        <div class="col col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Password" class="control-label"></label>
                                                <input asp-for="Password" class="form-control" type="password" />
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col col-md-6">
                                            <div class="form-group">
                                                <label asp-for="ConfirmPassword" class="control-label"></label>
                                                <input asp-for="ConfirmPassword" class="form-control" type="password" />
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row col-md-12">
                                        <div class="col">
                                            <div class="form-group">
                                                <label asp-for="AddressBlock" class="control-label"></label>
                                                <input asp-for="AddressBlock" class="form-control" />
                                                <span asp-validation-for="AddressBlock" class="text-danger"></span>

                                                <label asp-for="AddressLot" class="control-label"></label>
                                                <input asp-for="AddressLot" class="form-control" />
                                                <span asp-validation-for="AddressLot" class="text-danger"></span>

                                                <label asp-for="AddressBaranggay" class="control-label"></label>
                                                <input asp-for="AddressBaranggay" class="form-control" />
                                                <span asp-validation-for="AddressBaranggay" class="text-danger"></span>

                                                <label asp-for="AddressCity" class="control-label"></label>
                                                <input asp-for="AddressCity" class="form-control" />
                                                <span asp-validation-for="AddressCity" class="text-danger"></span>

                                                <label asp-for="ContactNumber" class="control-label"></label>
                                                <input asp-for="ContactNumber" class="form-control" />
                                                <span asp-validation-for="ContactNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $("#ImageFile").on("change", function () {
            var output = document.getElementById('ImagePreview');
            output.src = $(this).val();
        });

        var inptImageUpload = document.querySelector("#inptImageUpload");

        // listen for the change event so we can capture the file
        inptImageUpload.addEventListener("change", (e) => {
            // get a reference to the file
            const file = e.target.files[0];

            // encode the file using the FileReader API
            const reader = new FileReader();
            reader.onloadend = () => {
                const base64String = reader.result
                    .replace("data:", "")
                    .replace(/^.+,/, "");

                document.getElementById('imgOutput').setAttribute('src', reader.result);
                document.getElementById("Image").value = reader.result;

            };
            reader.readAsDataURL(file);
            document.getElementById('inptImageFileName').value = file.name;
        });
    </script>
}